# Build Folders
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo

# Configuration files
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Production.Development.json

jaberahnotifications-firebase-adminsdk-b1vzd-8a0771c094.json

# HTTP file
*.http

# Entity Framework Migrations
Migrations/

# Logs
*.log
Logs/

# Visual Studio specific
.vscode/
.vs/